<?xml version = "1.0" encoding = "UTF-8"?>

<beans xmlns = "http://www.springframework.org/schema/beans"
       xmlns:xsi = "http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation = "http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id = "mySpringClass" class = "com.company.MySpringClass">
        <property name="myStraing" value="1234"/>
    </bean>

    <bean id = "mySpringClass2" class = "com.company.MySpringClass">
        <property name="myStraing" value="1111111111111111111111"/>
    </bean>

    <bean id = "myService" class = "com.company.MyService">
        <property name="mySpringClass" ref="mySpringClass" />
    </bean>

</beans>